This is output of app.component:
<ul>
  <li>value from app.component numberGenerator(): {{ numberGenerator() }} </li>
  <li>value of app.component numberGenerator: {{ numberGenerator }} </li>
  <li>value of app.component fromNumberGeneratorService(): {{ fromNumberGeneratorService() }} </li>
  <li>value of app.component fromNumberGeneratorServiceHTTPFile(): {{ fromNumberGeneratorServiceHTTPFile }}</li>
  <li>value of app.component fromNumberGeneratorServiceHTTPFile(): {{ valueHTTPFile }}</li>
</ul>
